.toolbar {
  height: 80px;
  display: flex;
  justify-content: center;

  .search-block {
    width: 80%;
  }
}

.spacer {
  flex: 1 0 auto;
}

button {
  margin: 0 10px;

  &.active {
    filter: brightness(120%);
  }
}

main {
  padding: 20px 20%;
}

:host ::ng-deep {
  .search-block {
    .mat-form-field-flex > .mat-form-field-infix {
      padding: 0.5em 0;
      border-top: 0.3em solid transparent;
    }

    .mat-form-field-appearance-outline .mat-form-field-flex {
      margin-top: 1.0em;
    }
  }
}
